<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

    <body>
        <div class="create_folder">
            <i class="fa fa-home" (click)="closefolder()" data-toggle="tooltip" data-placement="top" title="Home"></i>
        
            <form (submit)="createfolder(folder)" #folder="ngForm">
                <input id="foldername" type="text" placeholder="Create New Folder" name="folder" required ngModel>
                <button type="submit">Create</button>
            </form>
           
            <i *ngIf="selected" class="fa fa-trash-o"  (click)="deletefolder()" data-toggle="tooltip" data-placement="top" title="Delete Folder!"></i>
        


        </div>

        <div>
            <div class="folder_container" *ngIf="show">
                <div *ngFor="let i of folders">
                    <span (click)="dispalyimages(i._id)">
                        <i class="fa fa-folder-open-o"></i>
                        <p>{{i.foldername}}</p>
                    </span>
                </div>
            </div>

            <div *ngIf="selected" class="fileupload">
                <div class="file btn  btn-primary">Upload
                    <input class="upload" type="file" multiple (change)="onfileselect($event)" accept=".gif,.jpg,.jpeg,.png">
                </div>
            </div>
        </div>

            <div *ngIf="images" class="img-container">
                <span  *ngFor="let img of images" class="row">
                    <div style="position: relative; ">
                        <img [src]="img" alt="image" id="images"><br>
                        <i class="fa fa-close" (click)="deleteimage(img)"></i>
                    </div>
                </span>
            </div>
    </body>
</html>

