
<!-- <input type="file" name="image" multiple (change)="onfileselect($event)" accept=".gif,.jpg,.jpeg,.png">
<button type="submit" (click)="onsubmit()">press</button> -->
<br>
<form (submit)="onsubmit()">
    <span class="upload-btn-wrapper">
        <input type="file" name="files" multiple  multiple (change)="onfileselect($event)" accept=".gif,.jpg,.jpeg,.png"/>
        <button class="btn"style="margin-left: 30px" >Upload a file</button>
    </span>
    <button type="submit" class="btn" style="margin-left: 30px">Submit</button>
</form>
<form > 
    
</form>
<div *ngIf="dataval">
    <span  *ngFor="let img of dataval" class="row">
        <img  [src]="img" alt="image" id="images">
    </span>
    
    
</div>

<!-- <img src="dataval" alt="hiiiiiiiiiiiii"> -->
