<br>
<form (submit)="createfolder(folder)" #folder="ngForm">
<mat-form-field style="margin-left: 50px;" class="example-full-width">
    <mat-label>Create New Folder</mat-label>
    <input matInput placeholder="Ex. Pizza" value="Sushi" name="folder" ngModel>
</mat-form-field>
<button type="submit" mat-button>Create </button>
</form>

<mat-form-field >
    <mat-label>Select Folder</mat-label>
    <mat-select [(value)]="selected">
        <mat-option *ngFor="let i of folders" [value]="i._id" (click)="dispalyimages()">
            {{i.foldername}}
          </mat-option>
    </mat-select>
  </mat-form-field>
<div *ngIf="selected">
<input type="file" multiple (change)="onfileselect($event)" accept=".gif,.jpg,.jpeg,.png">
<button (click)="deletefolder()">Delete Folder</button>
</div>
<!-- <input type="file" name="image" multiple (change)="onfileselect($event)" accept=".gif,.jpg,.jpeg,.png">
<button type="submit" (click)="onsubmit()">press</button> -->


<!-- <form (submit)="onsubmit(formval)" #formval="ngForm">
    <input type="file" name="files"(change)="onfileselect($event)" multiple ngModel><br>
    <input type="text" name="folder" ngModel><br>
    <button type="submit">Submit</button>
</form>
<br> -->



<!-- <form (submit)="onsubmit()">
    <span class="upload-btn-wrapper">
        <input type="file" name="files" multiple  multiple (change)="onfileselect($event)" accept=".gif,.jpg,.jpeg,.png"/>
        <button class="btn"style="margin-left: 30px" >Upload a file</button>
    </span>
    <button type="submit" class="btn" style="margin-left: 30px">Submit</button>
</form> -->
<form > 
    
</form>
<div *ngIf="images">
    <span  *ngFor="let img of images" class="row">
        <img  [src]="img" alt="image" id="images"><br>
        <button mat-button color="warn" type="button" (click)="deleteimage(img)" >delete</button>
    </span>
</div>

<!-- <img src="dataval" alt="hiiiiiiiiiiiii"> -->
